# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  my_job_ubuntu:
    name: Run app on ubuntu
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
        
      - name: Build the app
        uses: Didstopia/SwiftAction@v1.0.3
        with:
          swift-action: build
      
      - name: Run the app
        uses: Didstopia/SwiftAction@v1.0.3
        with:
          swift-action: run Run
          
      - name: Run UNIT tests
        uses: Didstopia/SwiftAction@v1.0.3
        with:
          swift-action: run Run test
      
      - name: Run Tests.sh
        run: ./Tests.sh
      
  my_job_macOS:
    name: Run app on macOS
    runs-on: macos-10.15

    steps:
      - uses: actions/checkout@v2
        
      - name: Build app
        run: swift build
                
      - name: Run app
        run: .build/debug/Run
        
      - name: Run UNIT tests
        run: .build/debug/Run test
      
      - name: Run Tests.sh
        run: sh Tests.sh
